<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
@let t = todo();
<li [class]="{ completed: t.completed }">
  <div class="view">
    <input
      (change)="todosSvc.toggleTodo(t.id)"
      class="toggle"
      type="checkbox"
      [checked]="t.completed"
    />
    <span>{{ t.title }}</span>
    <button (click)="todosSvc.destroyTodo(t.id)" class="destroy">
      <span class="sr-only">Destroy</span>
    </button>
  </div>
  <input class="edit" value="Create a TodoMVC template" />
</li>
